nav {
    background-color: #e11b38;
    padding: 0 25px;
}
.container {
    min-height: 80vh;
}

.headline {
    text-align: center;
}

a.startButton {
    margin: 0 auto;
    color: #ffffff;

}

hr {
    width: 80%;
}

footer {
    text-align: center;
}